// SASS for Mini-Donkey. Use this to costumize your donkey ride. Enjoy.

// Variables
//================

// Set Font Sizes and Line Height
$base-size: 1em;
$base-line-height: 21px;

// Set fonts 
$font-primary: 'Helvetica';
$font-secondary: 'Ariel';
$font-last: 'Sans';
$font-color: black;

// Set Colors 
$light-gray: #D5D5D5;
$med-gray: #A3A3A3;
$semi-black: #363636;
$a-hover: #575757;
$trans: transparent;

// Define Colors for site
$primary-color: #5FBCAC;
$secondary-color: #EF7677;
$dark-shade-primary: #3D9A8A;
$dark-shade-secondary: #CF5455;

// Set Margins 
$center: 0 auto;
$main-margin: 2%;

// Mixins
//===========

// Mixin Media Querys

@mixin change-donkey($point) {
	
	@if $point == full-ride {
		@media (max-width: 1600px) {@content; }	
	}
	@else if $point == md-ride {
		@media (max-width: 1250px) {@content; }
	}
	@else if $point == sm-ride {
		@media (max-width: 650px) {@content; }
	}
	@else if $point == xsm-ride {
		@media (max-width: 400px) {@content; }
	}
}

// Mixin Styles

@mixin nav-style {
	margin-bottom: 50px;
	padding-top: 10px;

	li {
		display: inline-block;
		color: black;
		margin-bottom: 3%;
		@include change-donkey(sm-ride) { display: block; };
	}
}

@mixin second-nav {

	li {
		display: inline-block;
	}

	li {
		&:first-child {
			a {
				padding-left: 0;
			}
		}
	}
}

.test {
	background: #eee;
}

/* Golbal
===============*/

* {
	margin: 0;
}

body {
	width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
	font-family: $font-primary, $font-secondary;
	margin-bottom: $main-margin;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}

a {
	color: $semi-black;
	text-decoration: none;
	padding-left: 2em;

	&:hover{
		color: #8c8c8c;
	}
}

p {
	line-height: $base-line-height;
	font-size: $base-size;
}

.right {
	float: right;
}

.left {
	float:left;
}

.sm-push {
	@include change-donkey(sm-ride) {float:left; padding:0;}
}

.clearfix {
	clear:both;
}

.center {
	margin: $center;
}

.email {
	color: $primary-color;
}

/* Hero
===========*/

.hero {
	background-color: $light-gray;
	width: 100%;
	min-height: 250px;
	margin: 0;
	border: 2px solid $med-gray;
	margin: 0 auto 3%;
	padding: 1%;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-size: 3em;
			font-weight:bold;
			color: #363636;
		}

		p {
			font-size: 1.45em;
			font-weight: 100;
			letter-spacing: 1px;
		}
}


/* Header and Nav
==================*/

header {
	background-color: $light-gray; 
}

nav {
	@include nav-style;
}

.nav-secondary {
	@include second-nav
}





