.test {
  background: #eee; }

/* Golbal
===============*/
* {
  margin: 0; }

body {
  width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Helvetica", "Ariel";
  margin-bottom: 2%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

a {
  color: #363636;
  text-decoration: none;
  padding-left: 2em; }
  a:hover {
    color: #8c8c8c; }

p {
  line-height: 21px;
  font-size: 1em; }

.right {
  float: right; }

.left {
  float: left; }

@media (max-width: 650px) {
  .sm-push {
    float: left;
    padding: 0; } }

.clearfix {
  clear: both; }

.center {
  margin: 0 auto; }

.email {
  color: #5fbcac; }

/* Hero
===========*/
.hero {
  background-color: #d5d5d5;
  width: 100%;
  min-height: 250px;
  margin: 0;
  border: 2px solid #a3a3a3;
  margin: 0 auto 3%;
  padding: 1%; }
  .hero h1,
  .hero h2,
  .hero h3,
  .hero h4,
  .hero h5,
  .hero h6 {
    font-size: 3em;
    font-weight: bold;
    color: #363636; }
  .hero p {
    font-size: 1.45em;
    font-weight: 100;
    letter-spacing: 1px; }

/* Header and Nav
==================*/
header {
  background-color: #d5d5d5; }

nav {
  margin-bottom: 50px;
  padding-top: 10px; }
  nav li {
    display: inline-block;
    color: black;
    margin-bottom: 3%; }
    @media (max-width: 650px) {
      nav li {
        display: block; } }

.nav-secondary li {
  display: inline-block; }
.nav-secondary li:first-child a {
  padding-left: 0; }
